<nav class="navbar navbar-expand-lg navbar-light bg-primary text-white"  >
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" routerLink="home" style="font-weight: bolder;margin-left: 45px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="supplierdetail" style="font-weight: bolder;">SuppliersDetails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="aboutus" style="font-weight: bolder;">AboutUs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" style="font-weight: bolder;" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="contact">
            Contact
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Supplier</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>