
<h4 class="container text-success mt-4 text-center">Details of Supplier With 
    product and Address
</h4>
<table class="table table-success table-striped container mt-4">
    <thead>
        <tr>
            <td>SupplierId</td>
            <td>SupplierName</td>
            <td>City</td>
            <td>state</td>
            <td>Country</td>
            <td>No of Product</td>
            <td>UnitePrice</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>Pravita</td>
            <td>Pune</td>
            <td>MH</td>
            <td>India</td>
            <td>cooler</td>
            <td>3000</td>
            <td><button [routerLink]="['/supplierdetail']">Back</button></td>
        </tr>
    </tbody>
</table>